.projects{
  text-align: center;
/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); */
background-color: #3a3544;
}

  .accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    gap: 16px;
    transition: 0.3s;
  }
  
  .accordion:hover {
    gap: 0;
  }
  
  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 100%;
    max-width: 300px;
    border-radius: 50px;
    opacity: 0.75;
    cursor: pointer;
  }
  
  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
  }
  
  .accordion li,
  .accordion li img,
  .accordion li .content,
  .accordion li .content span {
    transition: 0.3s;
  }
  

  .accordion li .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 15px;
    background-color: #e0e0e0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .accordion li .content span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  
  .accordion li:hover {
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
  }
  
  .accordion li:hover .content {
    opacity: 1;
    visibility: visible;
  }
  
  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
  
  .project {
    background: #f5f5f5; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    height: 450px;
    
}
.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
} 
   .info{
    font-size: 1.2rem;
    color: black;
    
}

.position{
display: flex;
align-items: center;
justify-content: space-around;
}

.link{
  margin: 10px;
  text-decoration: none;
  color: #3a3544;
}

.link:hover{
  background-color: #3a3544;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  color: white;

}

/* Media queries para tablet */
@media only screen and (min-width: 768px) {
  .accordion li {
    flex: 0 0 45%; /* Mostrar 2 elementos por fila en tablets */
    max-width: none; /* Ancho máximo ilimitado */
  }
}

/* Media queries para pantallas más grandes */
@media only screen and (min-width: 1200px) {
  .accordion li {
    flex: 0 0 30%; /* Mostrar 3 elementos por fila en pantallas grandes */
  }
}