/* Estilo para el encabezado y la barra de navegación */
/* header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; 
  padding: 10px 0;
  text-align: center;
  height: 120px;
} */
.home {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  animation: backgroundAnimation 20s linear infinite;
  color: rgb( 242, 242, 242);
  /* background-image: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\fondo1 (2).jpg'); */
  

}

 @keyframes backgroundAnimation {
  0% {
    background: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\fondo.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  20% {
    background: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\clement-helardot-95YRwf6CNw8-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    

  }
  40% {
    background: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\fondo3.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    
    
  }
  80% {
    background: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\fondo.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    
  }
  100% {
    background: url('C:\Users\lucar\Desktop\portafolio\client\src\assets\fondo4.jpg');
    background-size: cover;
    
    
   
  } 
} 


.section{
  display: flex;
  flex-direction: column;
}


.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.quien-soy-section {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  
}

.contenido-quien-soy {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
  
}

.h1 {
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.h3{
  font-family: 'Times New Roman', Times, serif;

}

.proyectos-button {
  background-color: rgb(242, 12, 12); /* Cambia el color de fondo del botón */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proyectos-button:hover {
  background-color: #e53a3a; /* Cambia el color de fondo al pasar el mouse */
}

.boton-about-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
}

.slide-button{
  background-color: transparent;
  animation: slideAnimation 20s linear infinite;
  border-radius: 10px;
  cursor: pointer;
  animation: moveUp 2s alternate infinite; /* Duración de la animación y tipo de repetición */
  margin-bottom: 0;
}


@keyframes moveUp {
  0% {
      transform: translateY(0); /* Posición inicial */
  }

  100% {
      transform: translateY(20px); /* Posición final (ajusta la distancia que deseas mover) */
  }
}


.boton-about-container img{
  width: 70%;
  max-width: 100px;
  height: auto;
  filter: brightness(80%) grayscale(90%);
  
}

