.projects{
    text-align: center;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); */
  background-color: #3a3544;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  }
  
  /* .projects-container {

  } */

  .project:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  

  .project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgb(242, 12, 12); /* Color del botón de detalles */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.3s;
  }
  
  .project a:hover {
    background-color: black;
  }

.project {
    background: #f5f5f5; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    height: 450px;
    width: calc(33.33% - 40px);
    
}
    
    .project__image {
      max-width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
    }
  
    
    .project__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px 0;
    }
  
    .project__description {
      font-size: 1rem;
      margin: 10px 0;
      
    }
  
    .information{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 50%;
    } 
       .info{
        font-size: 1.2rem;
        color: #666;
    }

.position{
  display: flex;
  align-items: center;
  justify-content: space-around;
}




.h2{
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.content {
  font-family: Arial, sans-serif; /* Cambia la fuente según prefieras */
  
  background-color: #333;
}

.content h3 {
  font-size: 1.5rem; /* Tamaño del título */
  margin-bottom: 5px;
  color: white;
}

.content p {
  font-size: 1rem; /* Tamaño del párrafo */
  margin-bottom: 10px;
}

.content a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007BFF; /* Color de fondo del enlace */
  color: #fff; /* Color del texto del enlace */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.content a:hover {
  background-color: #0056b3; /* Color de fondo del enlace al pasar el mouse */
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul li {
  font-size: 0.9rem; /* Tamaño de la lista de tecnologías */
  margin-bottom: 5px;
}



/* Media queries para tablet y celular */
@media only screen and (max-width: 768px) {
  .projects-container {
    padding: 5px; /* Ajuste de padding para tamaños de pantalla más pequeños */
  }

  .project {
    width: calc(50% - 40px); /* Mostrar 2 proyectos por fila en tablet */
  }
}

@media only screen and (max-width: 480px) {
  .project {
    width: calc(100% - 40px); /* Mostrar 1 proyecto por fila en celular */
  }
}