.App {
  text-align: center;
}
body{
  margin: 0;
  /* background-image: url('https://wallpapercave.com/wp/wp12461001.png');    */
  

  
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */



.App section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  transition: transform 0.3s; /* Agrega una transición para suavizar el desplazamiento */
}
/* Estilo para el modo oscuro */
.dark-mode {
  background-color: #222; /* Cambia el color de fondo en el modo oscuro */
  color: #fff; /* Cambia el color del texto en el modo oscuro */
}

/* Estilo para otros componentes en modo oscuro */
.dark-mode .section {
  background-color: #333;
  color: #fff;
  /* Otros estilos para componentes en modo oscuro */
}
